<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="outputPath" value="C:\Users\dsuchan-meta\Desktop\win-x64\data.json"/>
    <add key="baseUrl" value="https://www.yellowpages.com"/>
    <add key="search" value="/search?search_terms=restaurant&amp;geo_location_terms=New+York%2C+NY&amp;page="/>
    <add key="timeout" value="1000"/>
  </appSettings>
</configuration>